/*
  PROGRAM: Find primes...
 LANGUAGE: CSS/Cascading Style Sheet

 COMPUTER: Home based PC/Windows 10 Professional
   EDITOR: Windows Notepad
  BROWSER: Google Chrome
 
   AUTHOR: Mr. Paul Ramnora
    EMAIL: pramnora@yahoo.com
COPYRIGHT: (c)2020-, Mr. Paul Ramnora./All rights reserved.

  CREATED: 23:26 29/04/2020
  UPDATED: 11:05 12/08/2025
*/

/* links */

a:link{
 color:blue;
 text-decoration:none;
}

a:active{
 color:red;
}

a:visited{
 color:purple;
}

a:hover{
 color:red;
}

/* body */

html{
 margin:10px;
}

body{
 background-color:white;
 color:black;
 font-family:arial,verdana,sans-serif;
 text-align:center;
}

/* header & footer */

header,footer,div{
 width:50%;
 margin:auto;
 padding:10px;
}

/* header */

h1{
  border-radius: 10px 10px 0px 0px;
  background-color:black;
  color:white;
}

/* main */

main{
 color:black;
}

div{
 background-color:pink;
}

/* footer */

footer{
 border-radius: 0px 0px 10px 10px;
 background-color: silver;
 color:black;
}

#idCopyrightMsg{
 font-weight:bold;
 background-color:black;
 color:white;
}

#idTimeDateStamp{
 font-style:italic;
 color:red;
}
